@import "../sass/styles.scss";

// @@ PROFILE HEADER //
.profile-container {
  display: flex;

  .left-side {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      height: 100px;
      margin: 10px 0 0 5px;
      outline: 0.5px solid #ffe8d628;

      &:hover{
        outline: 0.5px solid #ffe8d675;
        transition: 300ms;
      }
    }

    section {
      margin-left: 15px;
      margin-top: 5px;
      width: 100%;
      h1 {
        font-family: "graphik-semi-bold", sans-serif;
        color: #ffffff;
        font-size: 22px;
        display: inline-block;
        margin-right: 30px;
      }
      button {
        display: inline-block;
        background: #556677;
        color: rgb(200, 212, 224);
        font-family: "graphik-semi-bold", sans-serif;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 7px 10px 6px;
        border-radius: 3px;
        letter-spacing: 0.825px;
        box-shadow: inset 0 1px 0 #ffffff33;
        cursor: pointer;
        border: none;
      }
      h4 {
        color: #99aabb;
        font-size: 13px;
        font-family: "graphik-light";
        padding: 10px 0 5px 0;
      }
      p {
        display: inline-block;
        color: #667788;
        font-family: "graphik-light";
        font-size: 13px;
        letter-spacing: 0.5px;
        margin: 10px 20px 0 -5px;

        i {
          font-size: 17px;
          margin-right: 5px;
        }
      }
    }
  }

  .right-side {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    div {
      border-left: solid rgba(153, 170, 187, 0.13) 1px;
      height: 40px;
      margin-bottom: 50px;

      h4 {
        color: rgb(216, 224, 232);
        font-family: "linux-libertine", sans-serif;
        font-size: 1.61538462rem;
        text-align: center;
      }
      p{
        color: rgb(102, 119, 136);
        font-family: "graphik-light", sans-serif;
        font-size: .66923077rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin: 0 10px;
        text-align: center;
        padding-top: 5px;
      }
    }
    div:nth-of-type(1){
        border-left: none;
    }
  }
}
.profile-container > div {
  flex-basis: 50%;
  height: 150px;
}

// @@ NAVLIST //
#profile-navlist{
  ul{
    outline: 0.5px solid #ffe8d628;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style-type: none;
    margin: 1em;
    margin-top: 8px;
    padding: 10px 10px 13px 40px;

    li a{
      text-decoration: none;
      font-family: 'graphik-light', arial;
      color: #99aabb;
      font-size: 15px;
      line-height: 20px;
      padding: 12px;
      padding-right: 14px;
      position: relative;

      i{
        margin-left: 40px;
        position: absolute;
        transform: rotate(45deg);
        font-size: 16px;
      }
    }
  }
}
.nav-item-active{
  color: #ffffff !important;

  &:after{
    content: '';
    position: absolute;
    border-bottom: solid 2px #00B020;
    width: 70%;
    transform: translateX(-100%);
    bottom: 0px;
  }
}

// @@ MAIN //
.content{
  display: grid;
  grid-template-columns: 70% 30%;

  & > * {
    height: 500px;
  }
}

main{
  padding-right: 25px;

  


}