@import "styles.scss";

// @@ PROFILE HEADER //
.profile-container {
  display: flex;

  .left-side {
    display: flex;
    align-items: center;
    .mobile-profile {
      display: none;
    }
    img {
      border-radius: 50%;
      height: 100px;
      margin: 10px 0 0 5px;
      outline: 0.5px solid #ffe8d628;

      &:hover {
        outline: 0.5px solid #ffe8d675;
        transition: 300ms;
      }
    }

    section {
      margin-left: 15px;
      margin-top: 5px;
      width: 100%;
      h1 {
        font-family: "graphik-semi-bold", sans-serif;
        color: #ffffff;
        font-size: 22px;
        display: inline-block;
        margin-right: 30px;
      }
      button {
        display: inline-block;
        background: #556677;
        color: rgb(200, 212, 224);
        font-family: "graphik-semi-bold", sans-serif;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 7px 10px 6px;
        border-radius: 3px;
        letter-spacing: 0.825px;
        box-shadow: inset 0 1px 0 #ffffff33;
        cursor: pointer;
        border: none;

        &:hover {
          filter: brightness(1.2);
        }
      }
      h4 {
        color: #99aabb;
        font-size: 13px;
        font-family: "graphik-light";
        padding: 10px 0 5px 0;
      }
      p {
        display: inline-block;
        color: #667788;
        font-family: "graphik-light";
        font-size: 13px;
        letter-spacing: 0.5px;
        margin: 10px 20px 0 -5px;

        &:hover {
          color: #c3cfdb;
          transition: 350ms;
        }
        &:nth-of-type(2) {
          cursor: pointer;
        }

        i {
          font-size: 17px;
          margin-right: 5px;
        }
      }
    }
  }

  .right-side {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    div {
      border-left: solid rgba(153, 170, 187, 0.13) 1px;
      height: 40px;
      margin-bottom: 50px;

      h4 {
        color: rgb(216, 224, 232);
        font-family: "linux-libertine", sans-serif;
        font-size: 1.61538462rem;
        text-align: center;
      }
      p {
        color: rgb(102, 119, 136);
        font-family: "graphik-light", sans-serif;
        font-size: 0.66923077rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin: 0 10px;
        text-align: center;
        padding-top: 5px;
      }
      h4:hover,
      p:hover {
        cursor: pointer;
      }
      p:hover {
        color: $hover;
      }
    }
    div:nth-of-type(1) {
      border-left: none;
    }
  }
}
.profile-container > div {
  flex-basis: 50%;
  height: 150px;
}

// @@ NAVLIST //
#profile-navlist {
  ul {
    border: 0.5px solid #ffe8d628;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style-type: none;
    margin: 5px 0 10px;
    width: 100%;
    padding: 12px 40px 12px 30px;
    align-items: center;
    justify-content: space-evenly;

    li a {
      text-decoration: none;
      font-family: "graphik-light", arial;
      color: #99aabb;
      font-size: 15px;
      line-height: 20px;
      position: relative;
      height: 100%;
      &:hover {
        color: #fff;
      }

      i {
        display: inline-block;
        transform: rotate(45deg);
        font-size: 17px;
        position: relative;
        right: -46px;
      }
    }
  }
}
.nav-item-active {
  color: #ffffff !important;

  &:after {
    content: "";
    position: absolute;
    border-bottom: solid 2.2px #00b020;
    width: 100%;
    bottom: -15px;
    transform: translateX(-100%);
  }
}

// @@ MAIN //
.content {
  display: grid;
  grid-template-columns: 70% 30%;
}

main {
  padding-right: 25px;
}

// recent reviews
.recent-reviews-container {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  position: relative;

  .poster {
    img {
      width: 70px;
      height: 108px;
      outline: 1px solid #aabbcc48;
      cursor: pointer;
      border-radius: 3px;
    }
    img:hover {
      outline: 3px solid #2bc016;
      transition: 200ms;
    }
  }

  .texto {
    margin-left: 1rem;
    h5 {
      font-size: 1.4rem;
      font-family: graphik-bold;
      color: #e1e6ec;
      display: inline-block;
      cursor: pointer;
    }
    h5:hover,
    span:hover {
      color: $hover;
    }

    span {
      color: $texto-oscuro;
      font-size: 1rem;
      margin-left: 8px;
      cursor: pointer;
    }

    .review-info {
      margin-top: 10px;
      color: green;
      font-size: 11px;

      p {
        display: inline-block;
        margin-left: 5px;
        color: #667788;
        font-size: 13px;
        font-family: "graphik-light", sans-serif;
        span {
          color: #abc;
          margin-right: 5px;
        }
      }

      .bi-chat-left-fill {
        color: $texto-oscuro;
        margin-left: 10px;
        cursor: pointer;
      }
      span {
        font-size: 0.813rem;
        margin-left: 2px;
        cursor: pointer;
      }
      span:hover {
        color: #fff;
      }
    }

    .review-text {
      font-family: "linux-libertine", arial;
      font-size: 16px;
      color: #99aabb;
      margin: 20px 0;
      line-height: 24px;

      br {
        content: "";
        display: block;
        margin: 15px 0;
      }
    }

    .like-review {
      display: flex;
      align-items: center;
      margin-top: 0;
      i {
        font-size: 13px;
        color: $texto-oscuro;
        cursor: pointer;
      }

      p {
        cursor: pointer;
        margin-left: 7px;
        font-size: 0.813rem;
        color: $texto-oscuro;
        font-family: graphik-semi-bold;
      }

      span {
        cursor: pointer;
        font-size: 0.875rem;
        color: $texto-oscuro;
        font-family: graphik-light;
        margin-right: 5px;
        margin-top: 2px;
        margin-left: 10px;
      }

      p:hover,
      span:hover {
        color: #aabbcc;
      }
    }
  }
}

.underline-review {
  width: 100%;
  height: 0.1px;
  background: #aabbcc48;
  margin: 15px 0;
}

.following-title {
  margin-top: 60px;
}

.following {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0 50px;
  gap: 6px;

  img {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    object-position: top;

    &:hover {
      outline: 0.5px solid #ffe8d675;
      transition: 300ms;
    }
  }
}

// @@ ASIDE //
aside {
  padding-left: 35px;
  padding-top: 25px;

  .image2 {
    display: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.listas-profile {
  display: inline-block;
  height: 100%;
  padding-bottom: 7px;
  cursor: pointer;
}

// diary
.diary {
  display: flex;
  margin-top: 15px;
  ul {
    list-style-type: none;
    margin-left: 20px;

    li {
      display: flex;
      font-size: 13px;
      margin-bottom: 8px;

      span {
        color: rgb(102, 119, 136);
        font-family: "graphik-light", monospace;
        margin-right: 8px;
        width: 12px;
      }
      p {
        color: rgb(153, 170, 187);
        font-family: "graphik-light", monospace;
        line-height: 17px;
        cursor: pointer;
        &:hover {
          color: $hover;
        }
      }
    }
  }
  .month-icon {
    height: 25px;
    width: 34px;
    background: #445566;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(20, 24, 28);
    padding: 10px;
    padding-top: 13px;
    position: relative;
    .palito {
      height: 10px;
      width: 5px;
      background: #445566;
      position: absolute;
      border-radius: 50px;
      top: -5px;
      border: solid 2px #14181c;
      &:nth-of-type(1) {
        left: 5px;
      }
      &:nth-of-type(2) {
        right: 5px;
      }
    }
  }
}

.bottom-line {
  border-bottom: 0.1px solid #aabbcc27;
  padding-bottom: 5px;
}

// ratings section in aside
.ratings {
  margin-top: 20px;
  ul {
    margin-left: 0px;
    height: 44px;
    width: 100%;
    display: flex;
    gap: 1.2px;
    align-items: flex-end;
    list-style-type: none;
  }
  .star {
    color: #00b020;
    font-size: 10px;
  }
  .first-star {
    margin-right: 3px;
  }
  .fila {
    height: 100%;
    width: 100%;
    background: #445566;
    border-radius: 1px;
    cursor: pointer;

    &:hover {
      background: #667788;
    }

    &:nth-of-type(1) {
      height: 5%;
    }
    &:nth-of-type(2) {
      height: 8%;
    }
    &:nth-of-type(3) {
      height: 15%;
    }
    &:nth-of-type(4) {
      height: 25%;
    }
    &:nth-of-type(5) {
      height: 40%;
    }
    &:nth-of-type(6) {
      height: 55%;
    }
    &:nth-of-type(7) {
      height: 50%;
    }
    &:nth-of-type(8) {
      height: 75%;
    }
    &:nth-of-type(9) {
      height: 40%;
    }
    &:nth-of-type(10) {
      height: 32%;
    }
  }
  .stars {
    display: flex;
    margin-left: 3px;
  }
}

// watchlist
.titulo-lista-profile {
  display: flex;
  align-items: center;
  margin: 10px 0 -10px 0;
  h2 {
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    font-family: "graphik-semi-bold", sans-serif;
  }
  h3 {
    color: #667788;
    font-size: 12px;
    font-family: "graphik-light", sans-serif;
    margin-left: 12px;
  }
}

// activity in aside
#activity {
  margin-top: 30px;
  margin-bottom: 10px;
}
.activity-ul {
  list-style-type: none;
  font-family: "graphik-light", sans-serif;
  color: #667788;
  li {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background: #3f5061;
      height: (100% + 60%);
      width: 1px;
      bottom: -15px;
      left: 3px;
    }
    &:nth-last-of-type(1):before {
      content: none;
    }

    .bola {
      height: 8px;
      aspect-ratio: 1;
      background: #667788;
      border-radius: 50%;
      margin-right: 15px;
      position: relative;
    }

    main {
      font-size: 13px;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: #ffffffd2;
      &:hover {
        color: #ffffff8c;
      }
    }
  }
}

.footer {
  height: 400px;
  background: black;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // display: none;
  visibility: visible;
}
.overlay.hidden{
  display: none;
  transition: ease-in-out .2s !important;
}

.modal{
  z-index: 101;
  width: 400px;
  background: #445566;
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  animation: modal-animation 1000ms;
  visibility: visible;

  h4{
    font-family: "graphik-bold";
    font-size: 22px;
    text-align: center;
    color: $secundario;
    margin-bottom: 5px;
  }

  p{
    font-family: "graphik-semi-bold";
    color: #aabbcc;
    padding: 5px;
    line-height: 25px;

    a{
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover{
        filter: brightness(.9);
      }
    }

    img{
      height: 19px;
      border-radius: 8px;
      position: relative;
      top: 5px;
      left: 5px;
    }
  }

  p:nth-of-type(2){
    margin-top: -20px;
  }
  

  #info{
    height: 70px;
    aspect-ratio: 1;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: $header;
    color: white;
    font-family: "linux-libertine";
  }

  .close{
    font-size: 30px;
    align-self: center;
    margin-top: 10px;
    color: $header;
    cursor: pointer;

    &:hover{
      transform: translateY(-2px) scale(1.1);
      transition: ease-in-out .3s;
    }
  }
}
.modal.hidden{
  visibility: hidden !important; 
  transition: ease-in-out .4s !important;
  transform: translate(-50%, -50%) scale(0);
}

// meida querys
@media (max-width: 768px) {
  .profile-container {
    display: block;
    & > div {
      height: 100%;
      flex-basis: 0;
    }

    .left-side {
      .desktop-profile {
        display: none;
      }
      .mobile-profile {
        display: grid;

        .top-part {
          display: flex;
          align-items: center;
          justify-content: center;
          div > * {
            display: block;
            margin-left: 15px;
            margin-bottom: 10px;
          }
        }
        h4,
        .socials {
          text-align: center;
        }
        h4 {
          order: 1;
          margin-top: 5px;
        }

        .socials p {
          font-size: 12px;
        }
      }
    }

    .right-side {
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10px;
      div {
        height: 100%;
        margin: 10px 0 10px;
        flex: 0 0 30%;
      }
      div:nth-of-type(4) {
        border-left: none;
      }
    }
  }

  // nav
  nav {
    display: none;
  }

  // content
  .content {
    display: block;
  }

  main {
    padding-right: 0;
  }

  .posters-list {
    display: flex;

    .poster-container {
      width: 30%;
    }
  }

  .recent-reviews-sobretodo {
    margin-top: 35px;
  }

  .recent-reviews-container .texto span {
    margin-left: 0;
  }

  .following-title {
    margin-top: 30px;
  }

  .following {
    justify-content: center;
    img {
      flex-basis: 12%;
    }
  }

  aside {
    padding-left: 0;
    padding-top: 0;
    .image1 {
      display: none;
    }
    .image2 {
      display: block;
      width: 100%;
    }
  }

  .diary ul {
    margin-left: 27px;
  }

  .recent-lists {
    margin-top: 40px;
  }

  .listas-profile {
    padding-bottom: 0;
  }

  .activity-ul {
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .activity-ul li main {
    margin-top: -4px;
  }

  .modal{
    top: 45%;
    width: 350px;
    h4{
      margin-bottom: 10px;
    }
    p{
      font-size: 1.2rem;
    }
    p.desktop-text{
      display: none;
    }
    p.mobile-text{
      display: block;

      img{
        height: 25px;
        margin-right: 15px;
      }
    }
  }
}





@media (max-width: 950px) {
  .content {
    display: block;
  }
}
