//===== fuentes =====//

@font-face {
    font-family: "graphik-bold";
    src: url(/fonts/Graphik/GraphikBold.otf);
}
@font-face {
    font-family: "graphik-semi-bold";
    src: url(/fonts/Graphik/GraphikSemibold.otf);
}
@font-face {
    font-family: "graphik-light";
    src: url(/fonts/Graphik/GraphikLight.otf);
}

//===================//




//===== PALETA DE COLORES =====//

$header: #14181c;
$principal: #202830;
$texto: #AABBCC;


//=============================//


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $principal;
}

//========= HEADER ===========//

.relleno {
    width: 100%;
    min-height: 72px;
    background: $header;
}
.header {
    max-width: 950px;
    height: 72px;
    margin: 0 auto;
    background-color: $header;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: graphik-bold;
}

.logo-container {
    display: flex;
    a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
    }
    .imagen-logo {
        margin-right: 0.625rem;
        width: 3.75rem;
    }
    h1 {
        font-size: 1.938rem;
    }
}

.navbar {
    display: flex;
    align-items: center;
}

.lista-navbar {
    list-style: none;
    margin-top: -10px;

    li {
        display: inline-block;
        padding-inline: 0.438rem;

        a {
            font-family: graphik-semi-bold;
            text-decoration: none;
            color: #c5c8c9;
            text-transform: uppercase;
            font-size: 0.875rem;
            letter-spacing: 0.063rem;

            .bi-search {
                font-size: 0.938rem;
            }
            .bi-lightning-charge-fill {
                font-size: 1.063rem;
            }
        }
    }

    /* Usuario */

    li img {
        width: 1.5rem;
        margin-right: 7px;
        border-radius: 50%;
        border: 0.5px solid #ffe8d670;
        position: relative;
        top: 4px;
    }

    button {
        padding: 0.25rem;
        padding-left: 0.875rem;
        border: none;
        border-radius: 0.188rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        background: rgba(0,176,32,255);
        text-transform: uppercase;

        a {
            color: white;
        }

        .bi-chevron-down {
            margin-left: 0.425rem;
            color: white;
            width: 100%;
            height: 100%;
            font-size: 0.75rem;
        }
    }
}


//========= MAIN ===========//

.container {
    max-width: 950px;
    margin: 0 auto;
    font-family: graphik-light, sans-serif;
}


//=========== MENSAJE ========//

.mensaje {
    margin: 2.5rem auto;
    text-align: center;
    color: $texto;

    * {
        font-size: 1.625rem;
        font-weight: 400;
    }
    a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid $texto;
    }
}

//=========== ACTIVIDAD ========//
.new-from-friends {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.813rem;
    letter-spacing: 1.5px;
    border-bottom: 0.1px solid #aabbcc48;
    
    a {
        text-decoration: none;
        color: $texto;
        margin-bottom: 5px;
    }
    a:nth-child(2){
        color: #AABBCC99;
    }
}


//=========== NEW FROM FRIENDS ========//

.recent-from-friends {
    width: 100%;
    display: flex;
}

/* UL DE LOS POSTERS */
.posters-list {
    margin: 10px auto;
    list-style: none;
}

.poster-container {
    display: inline-block;
    width: 151px;
    height: 254px;
    position: relative;

    .poster {
        height: 100%;
        border: 0.1px solid #aabbcc48;
        background-size: cover;
        margin: 0 3px;
        border-radius: 5px 5px 0 0;
    }    
    a {
        text-decoration: none;
    }
    
    .abajo {
        height: 25px;
        padding: 2px;
        width: 145px;
        margin-left: 3px;
        background-color: #445566;
        border-radius: 0 0 5px 5px;
        position: relative;
        display: flex;
        align-items: center;
        img {
            height: 90%;
                border-radius: 50%;
                margin-left: 6px;
        }        

        p {
            text-decoration: none;
            color: $texto;
            display: inline-block;
            padding: 0 6px;
            font-family: graphik-semi-bold;
            font-size: 11px;
        }    
    }        
}    

/* ============ POSTERS ========== */

a {
    .p1 {
        background: url(/images/posters/the-batman.jpg) no-repeat;
    }
    .p2 {
        background: url(/images/posters/spencer.jpg) no-repeat;
    }
    .p3 {
        background: url(/images/posters/malignant-movie-poster.jpg) no-repeat;
    }
    .p4 {
        background: url(/images/posters/uncut-gems.jpg) no-repeat;
    }
    .p5 {
        background: url(/images/posters/knives-out.jpg) no-repeat;
    }
    .p6 {
        background: url(/images/posters/lalaland.jpg) no-repeat;
    }
}
